body {
background-color:gainsboro;
color:darkgray;
}

header {
    font-size: 38px;
 border-bottom: solid 3px gainsboro; 
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
}

img {
    width: 280px;
    height: 200px;
}